Binaries/
Intermediate/
Saved/
DerivedDataCache/
Platforms/
Plugins/*/Binaries/
Plugins/*/Intermediate/


.vs/
.vscode/
*.sln
*.suo
*.user
*.pyc


Thumbs.db
.DS_Store


!*/
!.gitignore
!.gitattributes
!*.uproject
!/Config/**
!/Content/**
!/Plugins/**
!/LICENSE
!/README.md